# Java / Maven
*/target/
*/.mvn/wrapper/maven-wrapper.jar
*.class

# Node / Angular
node_modules/
dist/
out-tsc/
.tmp/

# Logs
*.log
npm-debug.log*

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# OS
.DS_Store
Thumbs.db